body{
    background-color:lightgray;
    text-align: center;
}

.content-table{
    margin:auto;
}

table
{border: 2px ridge ; width: 500px; margin:auto}
#feed .title
{font-family: Arial; font-weight: bold; font-size: 18px}
#feed .label
{font-family: Tahoma; font-weight: bold; font-size: 11px}
#feed td
{font-family: Tahoma; font-size: 11px}
